<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vipeflix</title>
</head>
<body>
<h2>Vipeflix</h2>
  @for (movie of movies; track $index) {
  <div class="movie-container">
    <div style="display: flex; flex-direction: row; gap: 10px">
      <div>
        <img [ngSrc]="movies[$index].poster" priority="" id="movie-image" alt="{{movie.title}}" width="200" height="300">
      </div>
      <div>
        <p  >{{$index + 1}} - {{movie.title}} </p>
        <p  >{{movie.year | date}} </p>
        <p  >{{movie.price | currency}} </p>
      </div>
    </div>
  </div>
  }
  <router-outlet></router-outlet>
</body>
</html>