.movie-container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#movie-image {
    width: 200px;
}

#delete-btn:hover i {
    color: red !important;
}

#delete-btn i {
    font-size: 1.5rem;  /* ajusta este valor según necesites */
}