<button (click)="addMovie()">Agregar pelicula</button>
<input type="file" style="display: none;" #fileInput>

<button (click)="fileInput.click()">Cargar</button>
@if(!movies)
{
<img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" alt="Loading ...">
}@else if (movies.length === 0)
{
<p>No hay peliculas</p>
}@else 
{
@for (movie of movies; track $index) {
    <div class="movie-container">
    <div style="display: flex; flex-direction: row; gap: 10px">
        <div>
        <img [src]="movies[$index].poster" id="movie-image" alt="{{movie.title}}" width="200" height="300">
        </div>
        <div>
        <p>{{$index + 1}} - {{movie.title}}</p>
        <p>{{movie.year | date}}</p>
        <p>{{movie.price | currency}}</p>
        <button (click)="deleteMovie($index)">Eliminar</button>
        </div>
    </div>
    </div>
    }
}