<app-generic-list [list]="movies">
    <ng-container container>
        @for (movie of movies; track $index) {
            <div class="movie-container">
            <div style="display: flex; flex-direction: row; gap: 10px">
                <div>
                <img [src]="movies[$index].poster" id="movie-image" alt="{{movie.title}}" width="200" height="300">
                </div>
                <div>
                <p>{{$index + 1}} - {{movie.title}}</p>
                <p>{{movie.year | date}}</p>
                <p>{{movie.price | currency}}</p>
                <button (click)="deleteMovie($index)">Eliminar</button>
                </div>
            </div>
            </div>
            }
    </ng-container>
</app-generic-list>